@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	padding: 0 2vw;
	display: flex;
	justify-content: center;
  }

.grid {
	border: 2px solid #a8dadc;
	border-radius: 1rem;
	width: 70rem;
	height: 70rem;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
  }

.box {
	border: 1px solid black;
}