@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	font-size: 57%;
  }

body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 10rem;
	text-align: center;
	text-shadow:5px 5px rgba(250, 128, 114, 0.7);
	margin: 5rem 0;
}

.container {
	padding: 0 2vw;
	display: flex;
	justify-content: center;
  }

.grid {
	border: 2px solid #a8dadc;
	border-radius: 1rem;
	width: 70rem;
	height: 70rem;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
  }

.box {
	border: 0.1px solid rgba(0, 0, 0, 0.05);
}

.box.active {
	background-color: salmon;
  }